.color-title {
    font-weight: normal;
}
#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color:orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
img {
    width: 200px;
    height: 200px;
}