gunicorn
Bootstrap_Flask
Flask_CKEditor
Flask_Login
flask_sqlalchemy
Flask_WTF
WTForms
blinker
click
colorama
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
psycopg2
